.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header_title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header_icons span {
  margin-left: 25px;
  position: relative;
}

.screen-header_point {
  display: block;
  background-color: tomato;
  border-radius: 5px;
  height: 5px;
  width: 5px;
  right: 3px;
  bottom: 15px;
}
